* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  height: 5px;
}

.two {
  margin-bottom: 50px;
  margin-top: 20px;
}

.six {
  margin-top: 20px;
}

/*
=======================================================
=                   HEADER                            =
=======================================================
*/

#Header {
  margin-top: none;
  background-color: lightgrey;
  width: 100%;
  border-bottom: 2px outset black;
  /*position: fixed;*/
}

#Header a {
  color: lightblue;
  text-decoration: none;
  font-size: 1.1em;
  background-color: black;
}

#Header a:first-child {
  margin: 1% 30% 0 4%;
  float: left;
  line-height: 1em;
  padding: 10px;
  display: inline-block;
}

#Header a:last-child {
  margin : 1% 7% 0 0px;
  float: right;
  line-height: 1em;
  padding: 10px;
  display: inline-block;
}

#Header a:hover {
    background-color: purple;
}

#Name {
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px grey;
  text-align: center;
  line-height: 1em;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  font-size: 2.3em;
}

/*
=======================================================
=                   WELCOME                           =
=======================================================
*/

#Welcome {
  margin-top: 0;
  height: 200px;
  border: 4px;
  border-style: groove;
  border-color: black;
  background-image: url("img/bus3.jpg");
}

/*#WelcomeText {
  text-align: center;
  line-height: 1em;
  padding: 10px;
  display: inline-block;
  margin-left: 510px;
  margin-top: 60px;
  font-size: 2.3em;
}*/

/*
=======================================================
=                   DESCRIPTION                       =
=======================================================
*/
#Description {
  margin-top: 0;
  height:300px;
  background-color: white;
  border: 2px outset black;
}

.DescriptionPs {
  font-family: 'Cardo', serif;
  text-align: center;
  line-height: 1em;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  width: 70%;
}

#DescriptionText1 {
  margin-left: 180px;
  margin-top: 30px;
}

#DescriptionText2 {
  margin-left: 180px;
}

/*
=======================================================
=                   INTRODUCTION                      =
=======================================================
*/

#Introduction{
  background-color: lightblue;
  margin-top: 0;
  border: 2px outset black;
}

#DescriptionHL {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 2.3em;
}

#Images img {
  height: 250px;
  width: 250px;
  margin-top: 50px;
  margin-left: 250px;

}

#Images img:hover {

        -webkit-transform: scale(1.8);
        -ms-transform: scale(1.8);
        transform: scale(1.8);
        border-radius: 50%;
}

#ListLeft {
  float: left;
}

#ListLeft figcaption {
  margin-left: 170px;
}

figure {
  width: 100%;
}

figure img {
  margin: 0;
  width: 100%;
  height: 100%;
}

figure figcaption {
  text-size: 10px;
  font-family: 'Cardo', serif;
  text-align: center;
}


#ListRight {
  /*float:right;*/

}

#Lara {
  background-color: white;
}

#Sonic {
  background-color: white;
}

#Images img {
  border: 8px solid black;
  box-shadow: 10px 10px 5px grey;
}


/*
=======================================================
=                   FOOTER                            =
=======================================================
*/

#Footer {
  background-color: lightgrey;
  width: 100%;
  border-bottom: 2px outset black;
  height: 35px;
}


/*
=======================================================
=              SLIDING ANIMATION                      =
=======================================================
*/

div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left p {
  animation: slide-left 10s;
  font-family: 'Sonsie One', cursive;
  font-size: 3em;
  color: white;
  text-shadow: 4px 4px 5px black;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
