#myButton, #voteMore {
  visibility: hidden;
}

#characterPic1 {
  width: 400px;
  height: 400px;
}

#characterPic2 {
  width: 400px;
  height: 400px;
}

#characterPic3 {
  width: 400px;
  height: 400px;
}
