* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  height: 5px;
}

body {
  background-image: url("img/Background7.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#Header {
  margin-top:0;
  background-color: lightgrey;
  width: 100%;
  border-bottom: 2px outset black;
  /*position: fixed;*/
}

#Header a {
  color: lightblue;
  text-decoration: none;
  font-size: 1.1em;
  background-color: black;
}

#Header a:first-child {
  margin: 1% 30% 0 4%;
  float: left;
  line-height: 1em;
  padding: 10px;
  display: inline-block;
}

#Header a:last-child {
  margin : 1% 7% 0 0px;
  float: right;
  line-height: 1em;
  padding: 10px;
  display: inline-block;
}

#Header a:hover {
    background-color: purple;
}

#Name {
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px grey;
  text-align: center;
  line-height: 1.3em;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  font-size: 2.3em;
  color: black;
}


#clicksChart {
  margin-left: 350px;
}

#percentChart {
  margin-left: 350px;
}

#chart p {
  font-family: 'Boogaloo', cursive;
  color: purple;
  font-size: 2em;
  margin-left: 450px;
}

#Chart1 {
  margin-top: 50px;
}

#Chart2{
  margin-top: 30px;
  margin-bottom: 80px;
}

#myButton, #voteMore {
  visibility: hidden;
  margin-top: 40px;
  background-color: #6ACC79;
  border-radius: 12px;
  font-size: 1.2em;
  border: 2px solid red;
}

.button:hover {
    background-color: white;
    color: white;
}

#myButton {
  margin-left: 400px;
}

#Chart1, #Chart2 {
  visibility: hidden;
}

#characterPic1 {
  width: 300px;
  height: 300px;
  background-color: blue;
  margin-left: 50px;
  border: 8px solid black;
  box-shadow: 10px 10px 5px grey;
}

#characterPic2 {
  width: 300px;
  height: 300px;
  background-color: blue;
  margin-left: 50px;
  border: 8px solid black;
  box-shadow: 10px 10px 5px grey;
}

#characterPic3 {
  width: 300px;
  height: 300px;
  background-color: blue;
  margin-left: 50px;
  border: 8px solid black;
  box-shadow: 10px 10px 5px grey;
}

h1 {
  font-family: 'Bangers', cursive;
  color: red;
  text-shadow: 5px 5px 5px black;
  margin-left: 180px;
  font-size: 4.5em;
}

h2 {
  font-family: 'Boogaloo', cursive;
  color: purple;
  margin-left: 200px;
  margin-top: 30px;
}

#gameCharacters {
  margin-top: 75px;
}

/*
=======================================================
=                THANK YOU ANIMATION                  =
=======================================================
*/


<style style="text/css">
#ThankYou {
 height: 50px;
 overflow: hidden;
 position: relative;
 background-color: green;
 color: orange;
 border: 1px solid orange;
}

#ThankYou p {
 font-family: 'Bangers', cursive;
 color: red;
 text-shadow: 5px 5px 5px black;
 font-size: 4em;
 position: absolute;
 width: 100%;
 height: 40px;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(50%);
 -webkit-transform:translateX(50%);
 transform:translateX(50%);

 -moz-animation: horizontally 5s linear infinite alternate;
 -webkit-animation: horizontally 5s linear infinite alternate;
 animation: horizontally 5s linear infinite alternate;
}

/* Move it (define the animation) */
@-moz-keyframes horizontally {
 0%   { -moz-transform: translateX(50%); }
 100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes horizontally {
 0%   { -webkit-transform: translateX(50%); }
 100% { -webkit-transform: translateX(-50%); }
}
@keyframes horizontally {
 0%   {
 -moz-transform: translateX(50%); /* Browser bug fix */
 -webkit-transform: translateX(50%); /* Browser bug fix */
 transform: translateX(50%);
 }
 100% {
 -moz-transform: translateX(-50%); /* Browser bug fix */
 -webkit-transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%);
 }
}
</style>
